.margin-top-100 {
    margin-top:100px;
}

.fontsize-48 {
    font-size:48px;
}

.fontweight-bolder {
    font-weight: bolder;
}

.interval-status-prop {
    padding: 10px;
    border: 1px solid #aaa;
    margin-bottom: 1em;
}

.interval-status-prop p {
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 16px;
}

.interval-status-prop:nth-child(even) {
    background-color: #eee;
}

.hover-background-color-green:hover {
    background-color: #53aa5c;
}

.hover-color-white:hover {
    color: #fff;
}

.hover-pointer-click:hover {
    cursor: pointer;
}
